 .space-between{
    display: flex;
    justify-content: space-between;
 }
.main {
    height: calc(100vh - 20px);
    .card {
      width: 100%;
      height: 150px;
      margin-top: 5px;
    }
    .header {
        background-color: black;
        height: 10%;
        color: white;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        & > div:nth-of-type(2) {
          display: flex;
          justify-content: space-between;
        }
    }
    
    .body {
        .label {
            background-color: #f3f3fa;
            height: 25px;
            width: 100%;
            line-height: 25px;
            @extend .space-between;
        }
        .detail-area {
            padding: 10px;
        }
    }
    .top-area {
        @extend .space-between;

        .flex-start {
            display: flex;
            justify-content: flex-start;
        }
    }
    .button-area {
        height: 60px;
    }
}

.p1 {
    background-image: url('../../assets/cd.png');
}

.d3{
    width: 0; 
    height: 0;
    margin-top: 5px;
    margin-left: 5px;
    border-width: 6px;
    border-style: solid;
    border-color:black transparent transparent transparent;
    cursor: pointer;
}

.note {
    width: 80px;
    height: 40px;
    position: absolute;
    background-color: #4a4878;
    border-radius: 20px;
    left: 259px;
    bottom: 25px;
    color: white;
    line-height: 40px;
    margin:  0 auto;
}

.button-area {
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    & > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 1.2rem;
      margin-right: 0.8rem;
      position: relative;
      p {
        font-size: 0.3rem;
        color: #666666;
        position: absolute;
        bottom: 0;
        width: 40px;
      }
    }
    & > div:nth-of-type(1) {
      i {
        width: 32px;
        height: 32px;
        background: url("../../assets/html.ico") no-repeat;
        background-size: 100% auto;
      }
    }
    & > div:nth-of-type(2) {
      i {
        width: 32px;
        height: 32px;
        background: url("../../assets/sass.ico") no-repeat;
        background-size: 100% auto;
      }
    }
    & > div:nth-of-type(3) {
        i {
          width: 32px;
          height: 32px;
          background: url("../../assets/xml.ico") no-repeat;
          background-size: 100% auto;
        }
      }
      & > div:nth-of-type(4) {
        i {
          width: 32px;
          height: 32px;
          background: url("../../assets/bower.ico") no-repeat;
          background-size: 100% auto;
        }
      }
  }


  .container {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 25px;
    height: 30px;
    cursor: pointer;
}
.dot {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 5px;
    height: 5px;
    background: white;
    border-radius: 50%;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.container.hover .dot {
    background: transparent;
}
.dot::before,
.dot::after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    background: white;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.container.hover .dot::before,
.container.hover .dot::after {
    height: 45px;
    border-radius: 0;
}
.dot::before {
    left: -9px;
}
.container.hover .dot::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: right bottom;
    -ms-transform-origin: right bottom;
    transform-origin: right bottom;
    border-radius: 9px;
}
.dot::after {
    right: -9px;
}
.container.hover .dot::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    transform-origin: left bottom;
    border-radius: 9px;
}