<div class="label-bar">
    <div class="item-icon">
        <i></i>
    </div>
    <div class="item-content">
        <div class="self-pay-for"><span class="left">{{data.source}}</span>
            <div style="line-height: 25px;">
                <span *ngIf="data?.isCredit" class="right">未入账</span>
                <span>{{ data.expenses | currency: 'CNY' : 'symbol-narrow' }}</span>
            </div>
        </div>
        <div class="detail">
            <span>{{data.type}}</span>
            <span style="margin-left: 10px;">信用卡{{data.card}}</span>
            <span style="margin-left: 10px;">{{data.time}}</span>
        </div>
    </div>
    <div></div>
</div>