<div class="label-bar">
    <div class="item-icon">
        <i></i>
    </div>
    <div class="item-content">
        <div class="self-pay-for"><span class="left">支付宝瑞幸咖啡（北京）有限公司</span>
            <div style="line-height: 25px;">
                <span class="right">未入账</span>
                <span>{{ payNumber | currency: 'CNY' : 'symbol-narrow' }}</span>
            </div>
        </div>
        <div class="detail">
            <span>零售烟酒</span>
            <span style="margin-left: 10px;">信用卡5793</span>
            <span style="margin-left: 10px;">09:49:27</span>
        </div>
    </div>
    <div></div>
</div>