.over-flow-hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    .detail {
        height: 25px;
        display: flex;
        font-size: 10px;
        color: #9a9da5;
        &>span {
            line-height: 25px;
            @extend .over-flow-hidden;
        }
    }
    .self-pay-for {
        height: 25px;
        display: flex;
        justify-content: space-between;
        &>span {
            line-height: 25px;
            @extend .over-flow-hidden;
        }
        .left {
            width: 55%;
        }
        .right {
            width: 30px;
            height: 10px;
            line-height: 10px;
            border: solid 1px orange;
            border-radius: 10px;
            font-size: 10px;
            color: orange;
            margin-right: 10px;
        }
    }
}
.label-bar {
    height: 50px;
    display: flex;
    border-bottom: solid .5px gray;
}   
.item-icon {
    padding-top: 9px;
    width: 18%;
    height: 100%;
    display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 0.8rem;
      position: relative;
      i {
        width: 32px;
        height: 32px;
        background: url("../../../assets/bower.ico") no-repeat;
        background-size: 100% auto;
      }
}

.label-bar {
    width: 100%;
}